<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/main">
	<head>
		<meta charset="utf-8">
	</head>
	<div id="content1" layout:fragment="content" class="container-fluid">
		<div class="row">
			<div class="col">
				<h2>Ha Magyarországra jössz, üdv nálunk!</h2>
				<div class="table-responsive">
					<table class="table">
	 					 <tr>
	 					 	<th class="align-middle text-center">Név</th>
	 					 	<th class="align-middle text-center">Poszt</th>
	   						<th class="align-middle text-center">Csapat</th>	   						
	    				</tr>
	    				<tr th:each = "player : ${players}">
	    					 <td class="align-middle" th:text = "${player.playerName}">Hitler</td>
	    					 <td class="align-middle" th:text = "${player.position}">Führer</td>
	    					 <td class="align-middle" th:text = "${player.team}">Germany</td>
	    				</tr>
	    			</table>
    		</div>
		</div>
	</div>
</html>

